body {
  display: flex;
  justify-content: center;
}

.letter {
  font-size: 3rem;
  color: red;

  &:hover {
    color: blue;
  }
}

li {
  list-style: none;
}

.checked {
  text-decoration: line-through;
}

.doing {
  background: #a8d6e2;
}

.no {
  text-decoration: underline;
}